.env
.git
.phpunit.cache
node_modules
vendor
storage/atlas
storage/app/private/*
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
